@import "../../variables";

.container {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 100%;
    max-width: 600px;

    background: $theme-primary-light-color;

    padding: 2rem;
    border-radius: 0.5rem;
  }
}