@import "../../variables";

.Button {
  padding: 0.5rem 1rem;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $theme-light-color;

  background: $theme-accent-color;
  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
  transition: all ease-in-out 250ms;

  &:hover,
  &:focus {
    transform: scale(1.05) rotateZ(2deg);
  }
}